aksharamukha==2.3
certifi==2025.4.26
charset-normalizer==3.4.2
Deprecated==1.2.18
fonttools
grapheme==0.6.0
idna==3.10
jaconv==0.4.0
joblib
langcodes
language_data
lxml==5.4.0
marisa-trie==1.2.1
numpy
opencv-python
packaging
pdf2image
pillow
pykakasi
pypdf
PyPDF2
pytesseract
PyYAML
regex
requests
scikit-learn
scipy
setuptools
threadpoolctl
urllib3
wrapt
